$mask-typography-variants: h1, h2, h3, h4, blockquote, p;

@each $type in $mask-typography-variants {
  #{$type},
  .mask-#{$type} {
    font-weight: $mask-strong-font-weight;
    line-height: 1.15;
    margin-bottom: 0.65em;
  }
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max
h1,
.mask-h1 {
  font-size: $mask-h1-font-size;
  font-size: unquote("min(max(4rem, 6vw), #{$mask-h1-font-size})");
  color: mask-color("text");
}

h2,
.mask-h2 {
  font-size: $mask-h2-font-size;
  font-size: unquote("min(max(3rem, 5vw), #{$mask-h2-font-size})");
  color: mask-color("text");
}

h3,
.mask-h3 {
  font-size: $mask-h3-font-size;
  font-size: unquote("min(max(2rem, 4vw), #{$mask-h2-font-size})");
  color: mask-color("text");
}

h4,
.mask-h4 {
  font-size: $mask-h4-font-size;
  color: mask-color("text");
}

p,
li {
  font-size: $mask-text-font-size;
  color: mask-color("text");
}

p {
  margin: 0 0 1rem;
  color: mask-color("text");
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $mask-strong-font-weight;
  color: mask-color("text");
}

a:not(.mask-button) {
  color: $mask-link-color;
}

pre,
code {
  font-family: "Cabin Sketch", "sans-serif";
  font-weight: bold;
  color: mask-color("text");
}

code {
  display: inline-flex;
  padding: 0.15em;
  background-color: mask-color("light");
  font-size: 0.75em;
  color: mask-color("text");
  border: 1px solid scale-color(mask-color("gray"), $lightness: 50%);
  border-radius: 2px;
  line-height: 1.1;
}

pre {
  margin: 0;
  display: inline-block;

  code {
    display: block;
    padding: 0 1rem;
    white-space: pre-wrap;
    font-size: 0.85rem;
    line-height: 1.4;
    overflow-x: auto;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid mask-color("secondary");
  color: mask-color("gray");

  &,
  p {
    font-size: $mask-h4-font-size;
  }

  + * {
    margin-top: 3rem;
  }
}

.mask-lead {
  font-size: $mask-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.mask-list-unstyled {
  list-style: none;
  padding: 0;
}